@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}
.width {
    margin: 0 auto;
    width: 92%;
    max-width: 650px  ;
}

.header {
    color: #fff;
    background-color: rgba(20, 40, 90, 1);
    position: sticky;

    .width {
        position: relative;
    }

    svg {
        position:absolute;
        top: 35%;
        left: 0;
    }

    h1 {
        text-align: center;
        font-size: 35px;
        font-family: 'Bungee Inline', cursive;
        letter-spacing: 1.7px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    border: 0;
}

input {
    border: 1px solid #ddd;
    padding: 0px 24px;
    border-radius: 6px;
    line-height: 50px;
}
.home-search {
    padding: 40px 0px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1.5;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgba(49, 175, 183, 1);
    margin: 20px 0px 22px 0px;
}

.home-crypto {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin-bottom: 12px;

    span {
        display: block;
    }
}

.home-crypto-coin {
 a {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    gap: 20px 0;
 }

}

.home-crypto-image {
    width: 45px;
    height: 45px;
}
.home-crypto-name {
    flex: 1;
    font-size: 20px;
    color: #222;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.home-crypto-price-btc {
    font-size: 18px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.home-crypto-price-php {
    font-size: 14px;
    color: #8b8b8b;
}